pandas
numpy
scikit-learn
xgboost
shap
streamlit
plotly
matplotlib
seaborn
jupyter

soccerdata
mplsoccer
statsbombpy
pyarrow
tabulate
highlight-text

requests
cloudscraper
playwright
beautifulsoup4
undetected-chromedriver